.user__thumb {
	display: flex;
	border-radius: 100%;
	overflow: hidden;
}

.user__thumb__wrapper {
	border-radius: 100%;
	border: 2px solid white;
	display: inline-block;
	overflow: hidden;
}

.user__thumb img {
	height: 100%;
	width: 100%;
}

.user__thumb--hasNew {
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.stories {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	padding: 16px 0;
}

.stories__container {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.stories .user__thumb {
	width: 78px;
	height: 78px;
	margin: 0 8px;
	justify-content: center;
	align-items: center;
}

.stories .user__thumb__wrapper {
	height: 72px;
	width: 72px;
}
